.main-outer-wrapper-confirm {
  width: 65%;
  margin: 0 auto 120px auto;
  font-size: 18px;
}
.question-element-wrapper-confirm {
  margin-bottom: 76.6px;
}
.urgency-levels-confirmed {
  align-items: baseline;
}
p.confirmed-urgency {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0 9px 0;
  width: 227px;
}
.edit-delete-execute {
  display: flex;
}
.registered-key input,
.edit-execute,
.delete-execute {
  padding: 9px 13px;
}
.edit-execute,
.delete-execute {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.registered-key {
  margin-right: 11px;
}
.edit-execute {
  margin-right: 11px;
}

.answer-list-outer-wrapper {
  margin-bottom: 106px;
}
.answer-list-wrapper {
  border: 1px solid #ccc;
  padding: 36.5px 42px;
}
.each-answer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}
.each-answer:last-child {
  margin: 0;
  border-bottom: 0;
}
.answer-element {
  margin-bottom: 8px;
}
.posted-at {
  font-size: 15px;
}

h2.your-answer {
  font-size: 28px;
  margin-bottom: 56.4px;
  text-align: center;
}
.your-answer-element-row {
  display: flex;
  margin-bottom: 27px;
}
.your-answer-element-row:last-child {
  margin: 0;
}
.your-answer-element-title {
  margin-right: 68px;
}
p.your-name,
p.your-answer {
  border-bottom: 1px solid #ccc;
  width: 227px;
}
.send-answer-left-filler {
  width: 227px;
}
.your-answer-element-title > p,
.your-answer-element > p,
.your-answer-element > textarea {
  padding: 9px 13px;
}
.your-answer-element > p, 
.your-answer-element > textarea,
.register-cancel-execute > p {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.your-answer-element {
  width: 100%;
}
.question-content {
  letter-spacing: 2px;
  line-height: 1.5;
}
.send-answer-btn {
  width: 120px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
